/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1D2FFF;
    background-alt: #282839FF;
    foreground:     #739ab0ee;
    selected:       #739ab0ee;
    active:         #739ab0ee;
    urgent:         #739ab0ee;
}
